h1{
    font-size: 45px;
    margin-left: 10px;
}
.etiqueta {
    font-weight: bold;
    font-size: 25px;
    margin-right: 10px;  
    
  }
  
  .valor {
    font-weight: normal;
    font-size: 25px;
    margin-right: 20px; 
  }

  p{
    background-color: rgb(245, 234, 245);
    padding: 10px;
    margin-left: 30px;
  }
  footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; /* Para que ocupe todo el ancho */
    padding: 10px 0; /* Opcional: para darle un poco de espacio dentro del footer */
    text-align: center; /* para centrar el texto del footer */
    background-color: black ;
    color:white;
}
a{
    color: pink;
    text-decoration: none;
}
