h1{
    font-size: 45px;
    margin-left: 10px;
}
.etiqueta {
    font-weight: bold;
    font-size: 25px;
    margin-right: 10px;  
    
  }
  
  .valor {
    font-weight: normal;
    font-size: 25px;
    margin-right: 20px; 
  }

  p{
    background-color: rgb(245, 234, 245);
    padding: 10px;
    margin-left: 30px;
  }